NEXT_PUBLIC_API_BASE_URL=http://127.0.0.1:8000
NEXT_PUBLIC_SOLANA_RPC_URL=https://api.devnet.solana.com
NEXT_PUBLIC_MASTER_WALLET=YOUR_SOLANA_RECEIVER_WALLET
NEXT_PUBLIC_QUERY_PRICE_SOL=0.005
NEXT_PUBLIC_REQUIRE_SOLANA_PAYMENT=true
